.top-header-box {
  background-color: #033;
  padding: 0.5em 2em;
}

.bot-header-box {
  margin: 0;
  padding: 0;
}

.bot-header-box li {
  flex-grow: 1;
  font-size: 1.1em;
  font-weight: 600;
  list-style: none;
  padding: 1em;
  text-align: center;
}

.tab a {
  color: #0c9;
}

.tab-on a {
  color: white;
}

.bot-header-box li a {
  text-decoration: none;
}

.tab {
  background-color: #f0f0f0;
  color: #0c9;
}

.tab-on {
  background-color: #099;
  color: white;
}
